* {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

@media screen and (min-width: 768px) {
  img {
    display: block;
    margin: 5px auto;
    width: 40%;
    height: auto;
    margin-bottom: 50px;
    object-fit: contain;
  }
}
@media screen and (min-width: 150px) and (max-width: 767.5px) {
  img {
    display: block;
    margin: 5px auto;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    object-fit: contain;
  }
}
body {
  background-color: rgba(15, 15, 43);
  color: rgba(255, 255, 255, 0.85);
  font-family: "Poppins", "sen", sans-serif;
}
section {
  position: relative;
  width: 80vw;
  height: auto;
  background-color: rgb(37, 72, 78);
  margin: 50px auto 0 auto;
  padding: 20px 35px;
  font-size: 1.5rem;
  line-height: 2rem;
  border-radius: 20px;
}
h1 {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: rgb(214, 102, 102);
  text-align: center;
}
.choice {
  background-color: rgba(15, 15, 43);
  margin-top: 16px;
  padding: 5px 10px;
  border-radius: 40px;
}
.letter {
  margin-right: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(131, 95, 28);
  text-align: center;
  vertical-align: middle;
}

button {
  margin-top: 20px;
  width: 100px;
  height: 45px;
  border-radius: 20px;
  background-color: rgb(15, 15, 43);
  color: white;
  border: none;
}
.block-btn {
  width: inherit;
  height: 85px;
  text-align: center;
}
.block-result {
  background-color: rgba(201, 201, 221, 1);
  width: 60vw;
  height: 250px;
  border-radius: 20px;
  text-align: center;
  line-height: 3rem;
  padding: 6px 0;
  color: black;
  margin: 5px auto 50px auto;
}
.score {
  font-size: 3rem;
  margin-top: 15px;
}
.para-score {
  margin-top: 2px;
  font-size: 0.9rem;
}
.btn-close {
  bottom: -50%;
  background-color: rgb(15, 15, 43);
}
.green-correct {
  background-color: rgba(102, 102, 253, 1);
  transition: 0.5s;
}
.red-incorrect {
  background-color: brown;
  transition: 0.5s;
}
#alert-correct-or-incorrect {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 10px;
}
.hide {
  display: none;
}

.messenger,
#score {
  font-weight: 600;
  font-size: 2rem;
}
#score {
  font-weight: 600;
}

.para-score {
  font-weight: 500;
  font-size: 1.1rem;
}

#numTrue {
  color: rgb(0, 14, 216);
}
#total {
  color: rgb(228, 10, 10);
}

/* @media screen and (max-width: 678px) {
  main {
    max-width: 400px;
    margin: 5px auto;
  }
} */
.alert-you-choose {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  color: aqua;
}

.text-choice {
  font-size: clamp(0.5rem, 1rem, 1.2rem);
}

.btn-chooseListQuestion {
  display: inline-block;
}
.list-question-block {
  display: flex;
  flex-wrap: wrap; /* Cho phép xuống dòng khi hết chỗ */
  gap: 10px; /* khoảng cách giữa các đề */
  justify-content: center; /* căn giữa các item */
  font-size: 1rem;
}

.list-question-block span {
  flex: 0 0 100px; /* mỗi đề có chiều rộng cố định 100px*/
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 4px 0;
  color: white;
  cursor: pointer;
  border: solid 1px;
  text-align: center;
}

.list-question-block span:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}
.thong-bao-100-de-pass-bo-de {
  font-size: 0.8rem;
  text-align: center;
  color: aqua;
}
.block-question {
  font-size: 1.2rem;
}
/* chuyển mượt giữa các câu hỏi */
.block-question,
.block-answer {
  transition: opacity 0.4s ease;
  opacity: 1;
}

.fade {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.visible {
  opacity: 1;
  transition: opacity 0.4s ease;
}
/* modal hien thi loi giai */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  overflow: auto;
}

.modal-content img {
  max-width: 100%;
}

.hide {
  display: none;
}

.explanation-link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
}

#explanation-image {
  height: auto;
  width: 80vw;
}
/* main */
.mainBlock {
  display: flex;
  flex-wrap: wrap; /* Cho phép xuống dòng khi hết chỗ */
  gap: 20px; /* khoảng cách giữa các đề */
  justify-content: center; /* căn giữa các item */
  font-size: 1rem;
}

.mainBlock span {
  flex: 0 0 100px; /* mỗi đề có chiều rộng cố định 100px*/
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 0px 4px;
  color: white;
  cursor: pointer;
  border: solid 1px;
  text-align: center;
}

.mainBlock span:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

.menu {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  text-align: center;
  position: absolute;
  top: -20px;
  right: 8px;
  color: rgb(194, 148, 88);
  font-size: 1rem;
}
